
<div class="container">
  <div class="introduction-content">
    <h1 class="title-profile">♪ バースプランについて ♪</h1>
  
    <h4 class="introduction-name">【バースプランとは？】</h4>
    <p>どのような出産をしたいのか、自分の出産計画を立てることです。バースプランは、希望する出産について助産師と相談するために多くの産院で使用されています。バースプランを活用して、ご自身が抱いているお産への不安や希望を助産師へ伝えてくだい。そして、安心して赤ちゃんの誕生と育児のスタートを迎えましょう！</p>

    <h4 class="introduction-name">【バースプラン記入例】</h4>
    <div class="plan-list">
      <div class="plan-name">
        <h4>陣痛時について</h4>
        <ul class="one">
          <li>好きな音楽をかけたい</li>
          <li>好きなアロマを使いたい</li>
          <li>家族にそばにいて欲しい</li>
          <li>夫に腰のさすり方を教えて欲しい</li>
          <li>呼吸法をリードして欲しい</li>
          <li>お産の進行具合を教えて欲しい</li>
          <li>廊下を歩いて、お産を早めたい</li>
          <li>クッションを持ち込みたい</li>
        </ul>
      </div>
      <div class="plan-name">
        <h4>分娩時の対応について</h4>
        <ul class="one">
          <li>出産の様子をビデオ撮影したい</li>
          <li>パパに1番に抱っこして欲しい</li>
          <li>会陰切開はしたくない</li>
          <li>陣痛促進剤は使いたくない</li>
          <li>出産後、胎盤を見たい</li>
          <li>すぐに母乳を飲ませたい</li>
          <li>家族写真を撮影したい</li>
          <li>カンガルーケアをしたい</li>
        </ul>
      </div>
      <div class="plan-name">
        <h4>お産後や育児について</h4>
        <ul class="one">
          <li>できるだけ母乳で育てたい</li>
          <li>赤ちゃんと同じ部屋で過ごしたい</li>
          <li>授乳方法を教えて欲しい</li>
          <li>沐浴の仕方を夫と一緒に教えて欲しい</li>
          <li>疲れたとき赤ちゃんを預かってほしい</li>
          <li>個室を希望したい</li>
          <li>手作りのアイテムを使いたい</li>
          <li>乳房トラブルを防ぐ方法を知りたい</li>
        </ul>
      </div>
    </div>
    <%= link_to '[参考ページ:Moony]', 'https://jp.moony.com/ja/tips/pregnancy/birth/hospital/pt0682.html', class:"reference-link" %>
  </div>
</div>