<div class='title-contents'>
  <center>
    <h1 class='service-title'>
      バースプランへようこそ！
    </h1>
    <p class='service-explain'>
      世界に１つだけのバースプランを作りませんか？
    </p>
    <p class='service-explain'>
      家族全員で赤ちゃんを迎える準備をしましょう！
    </p>
    <div class='store-btn'>
      <%#= link_to image_tag(".png", class:"apple-btn"), "#" %>
      <%#= link_to image_tag(".png", class:"google-btn"), "#" %>
    </div>
  </center>
</div>