<div class="container">
  <h1 class="title-profile">メンバー</h1>
  <div class="row">
    <div class="col-md-8">
    <% @users.each do |user| %>
      <ul class="users">
        <li class='user-info'>
          <h3 class='show-user-name'>
            <%= user.name %> (<%= user.relationship %>)
          </h3>
          <div class='user-introduction'>
            <span><%= user.introduction %></span>
          </div>
        </li>
      </ul>
    <% end%>
    </div>
  </div>
</div>