<div class="container">
  <h1>メンバー</h1>
    <% @users.each do |user| %>
      <div class="users">
        <div class='user-info'>
          <h3 class='user-name'>
            <%= user.name %>
          </h3>
          <div class='user-relationship'>
            <span><%= user.relationship %></span>
          </div>
          <div class='user-introduction'>
            <span><%= user.introduction %></span>
          </div>
        </div>
      </div>
    <% end%>
</div>