<div class="container">
  <h1>メンバー</h1>
    <% @users.each do |user| %>
      <ul class="users">
        <li class='user-info'>
          <h3 class='user-name'>
            <%= user.name %>
          </h3>
          <div class='user-relationship'>
            <span><%= user.relationship %></span>
          </div>
          <div class='user-introduction'>
            <span><%= user.introduction %></span>
          </div>
        </li>
      </ul>
    <% end%>
</div>