<div class="contents row">
      <ul class="more_list">
        <li>
          <%#= link_to '編集', edit_tweet_path(@tweet.id), method: :get %>
        </li>
        <li>
          <%#= link_to '削除', tweet_path(@tweet.id), method: :delete %>
        </li>
      </ul>
    <p><%= @birth.plan_name %></p>
    <span class="name"><%= @birth.plan_name %>
    </span>
</div>