/* ミックスイン */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* フッター */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  small {
    float: center;
  }
}

/* プロフィールページ */
.title-profile {
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
}

.show-user-name {
  display: inline-block;
}

.account-edit {
  margin-top: 20px;
}

/* ユーザー一覧ページ */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
 }

/* トップページ */
.title-contents {
  width: 100vw;
  background-image: image-url('baby_photo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 800px; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 8vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}

/* トップページ（ログイン後） */
/* バースプラン作成ボタン */
.btn-record {
  margin-top: 3em;
}

/* バースプラン作成ページ */
.input-need {
  color: red;
  font-size: 13px;
}

.input-unneed {
  font-size: 13px;
}

/* コメント機能 */
.title-comment {
  font-weight: bold;
  font-size: 17px;
}

.comments {
  list-style: none;
  li {
    font-size: 14px;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    .comment {
      font-size: 16px;
    }
  }
}

.comment-create-at {
  color: grey;
}

/* ページボディ部 */ #fh5co-wireframe {
  padding-top: 7em;
  padding-bottom: 0;
}